<mat-toolbar>
  <button (click)="scrollTo('liveGames1Bundesliga')" mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over">
    Live Games
</button>
<button (click)="scrollTo('NextGames1Bundesliga')" mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over">
    Next Games
</button>
<button (click)="scrollTo('table1Bundesliga')" mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over">
    Table
</button>
<div class="match-status-info">
  <div class="playtime-info">playtime</div>
  <div class="break-info">break</div>
  <div class="end-info">end</div>
</div>
</mat-toolbar>
