<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div [routerLink]="''"  class="logo-container p-18">
      Platz Für Logo
    </div>

    <ul class="menu-items">
      <li class="menu-link cursor-pointer" [routerLink]="'NextGamesComponent'">Live Games</li>
      <li (click)="moreOptions('german')" class="menu-headline cursor-pointer">German Football</li>
      <div *ngIf="german === true">
        <li id="german" class="menu-link cursor-pointer" [routerLink]="'1.Bundesliga'">1.Bundesliga</li>
        <li id="german" class="menu-link cursor-pointer" [routerLink]="'2.Bundesliga'" >2.Bundesliga</li>
        <li id="german" class="menu-link cursor-pointer" [routerLink]="'3.Bundesliga'">3.Liga</li>
        <li id="german" class="menu-link cursor-pointer" >Regionalliga</li>
        <li id="german" class="menu-link cursor-pointer" >DFB Cup</li>
        <li id="german" class="menu-link cursor-pointer" >Super Cup</li>
        <li id="german" class="menu-link cursor-pointer" >Telekom Cup</li>
      </div>
    </ul>

  </mat-drawer>
  <div>
    <mat-toolbar>
      <mat-icon class="menu-icon cursor-pointer" (click)="drawer.toggle()">menu</mat-icon>
      <span color="On Primary">Soccer-Manager</span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-drawer-container>


