<mat-toolbar>
  <button (click)="scrollTo('liveGames1Bundesliga')" mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over">
    Live Games
</button>
<button (click)="scrollTo('NextGames1Bundesliga')" mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over">
    Next Games
</button>
<button (click)="scrollTo('table1Bundesliga')" mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over">
    Table
</button>

<div class="match-status-info">
  <div class="playtime-info">playtime</div>
  <div class="break-info">break</div>
  <div class="end-info">end</div>
</div>
</mat-toolbar>


<div id="liveGames1Bundesliga" class="body-container">
  <h1 class="component-h1">Live games</h1>
  <div *ngIf="BundesligaLiveMatches.length > 0" class="grid-container">
    <mat-card *ngFor="let match of BundesligaLiveMatches" role="list" class="game-card">
      <mat-card-header>
        <mat-card-title><h1>{{ match.homeTeam }} {{ match.score}} {{ match.awayTeam }}</h1>
          <div class="game-minute">{{ match.gameMinute }}'</div>
          <div class="green-timer" *ngIf="match.status === 'IN PLAY' || match.status === 'ADDED TIME'"></div>
          <div class="orange-timer" *ngIf="match.status === 'HALF TIME BREAK'"></div>
          <div class="red-timer" *ngIf="match.status === 'FINISHED'"></div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="odds-container">
          Pre odds:
        <div class="odds" *ngFor="let result of getOddsKeys(match.oddsPre)">
          {{ result }}: {{ match.oddsPre[result] }}
        </div>
        <!-- Live odds:
        <div class="odds" *ngFor="let result of getOddsKeysLive(match.oddsPre)">
          {{ result }}: {{ match.oddsLive[result] }}
        </div> -->
        </div>
        <p>Location: {{ match.location }}</p>
        <p *ngIf="match.outcomesHalfTime">{{match.outcomesHalfTime}} goal in the first half</p>
        <p *ngIf="match.outcomesFullTime">{{ match.outcomesFullTime }} goal in the second half</p>
        <p *ngIf="match.outcomesExtraTime">{{match.outcomesExtraTime}} goal in the eytra time</p>
        <p *ngIf="match.scoreHalfTime">score halftime: {{ match.scoreHalfTime }}</p>
        <p *ngIf="match.scoreFullTime">score fulltime: {{ match.scoreFullTime }}</p>
        <p *ngIf="match.scoreExtraTime">score Extratime: {{ match.scoreExtraTime }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="no-current-games-card-container" *ngIf="BundesligaLiveMatches.length === 0">
    <mat-card class="no-current-games-card">
      There is currently no game in the this leauge.
    </mat-card>
  </div>
</div>

<div id="NextGames1Bundesliga" class="body-container">
  <h1 class="component-h1">Next Games</h1>
  <div class="box-container">
    <mat-card *ngFor="let game of BundesligaGameDay.slice(0, 10)" role="list" class="game-card">
      <mat-card-header>
        <mat-card-title> <h1>{{ game.homeTeam }} vs. {{ game.awayTeam }}</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="odds-container">
          <div *ngIf="game.odds">
            <h2>Pre odds:</h2>
          <div class="odds" *ngFor="let result of getOddsKeys(game.oddsPre)">
            {{ result }}: {{ game.oddsPre[result] }}
          </div>
          </div>
          <!-- <div>
            <h2>Live odds:</h2>
            <div class="odds" *ngFor="let result of getOddsKeysLive(game.oddsLive)">
              {{ result }}: {{ game.oddsLive[result] }}
            </div>
          </div> -->
        </div>
        <div class="game-information">
          <p *ngIf="game.location && game.location !== '--'">Location: {{ game.location }}</p>
          <p>Starttime: {{ game.date }} / {{ game.starttime || 'N/A' }} local time</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div id="table1Bundesliga" class="table-container">
 <div class="table-head">
  <h1 class="component-h1">Tabel</h1>
 <div class="table-info">
  <div class="cl-info">Champions League</div>
  <div class="el-info">Europa League</div>
  <div class="conl-info">Conferece League</div>
  <div class="rel-info">Relegation</div>
  <div class="des-info">Descent</div>
</div>
 </div>
 <table mat-table  [dataSource]="BundesligaTable"   class="mat-elevation-z8 bundesliga-table">

  <ng-container matColumnDef="demo-Rank">
    <th mat-header-cell *matHeaderCellDef> Place </th>
    <td mat-cell *matCellDef="let element"> {{ element.rank }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-Team">
    <th mat-header-cell *matHeaderCellDef> Team </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-Pionts">
    <th mat-header-cell *matHeaderCellDef> Points </th>
    <td mat-cell *matCellDef="let element"> {{ element.points }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-Matches">
    <th mat-header-cell *matHeaderCellDef> Matches </th>
    <td mat-cell *matCellDef="let element"> {{ element.matches }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-Goaldif">
    <th mat-header-cell *matHeaderCellDef> Goaldiff </th>
    <td mat-cell *matCellDef="let element"> {{ element.goalDifference }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-Goal scored">
    <th mat-header-cell *matHeaderCellDef> Goal scored </th>
    <td mat-cell *matCellDef="let element"> {{ element.goalsScored }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-Goal conceded">
    <th mat-header-cell *matHeaderCellDef> Goal conceded </th>
    <td mat-cell *matCellDef="let element"> {{ element.goalsConceded }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-won">
    <th mat-header-cell *matHeaderCellDef> Won </th>
    <td mat-cell *matCellDef="let element"> {{ element.won }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-lost">
    <th mat-header-cell *matHeaderCellDef> Lost </th>
    <td mat-cell *matCellDef="let element"> {{ element.lost }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-drwan">
    <th mat-header-cell *matHeaderCellDef> Drawn </th>
    <td mat-cell *matCellDef="let element"> {{ element.drawn }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; index as i; columns: displayedColumns"
  [ngClass]="{
    'even-row': i % 2 === 0,
    'odd-row': i % 2 !== 0,
    'relegation-row': isRedRowRelegation(i),
    'descent-row': isRedRowDescent(i),
    'conferenceLeague': isGreenRowConferenceLeauge(i),
    'euroLeague': isOrangeConferenceLeague(i),
    'championsLeague': isBlueChampionsLeague(i)
  }">
  </tr>
</table>

</div>

